@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:wght@100;200;300;400;600&display=swap");
@import "https://unpkg.com/transition-style";

:root {
  --primary-font: "Lato", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
}

body {
  background: #e6e5e7;
}

body#bg__custom {
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: 30%;
  overflow: hidden;
}

nav {
  display: block;
}

button {
  cursor: pointer;
  font-weight: normal;
  border: none;
  border-radius: 0px;
}

#custom__submit {
  color: #fff;
  background: #a6c0e0;
  text-shadow: #4c5057 0px -1px 0px;
  margin: 0 0 0 5px;
  /*position: absolute;*/
  top: 24px;
  right: 620px;
  border-radius: 100%;
  width: 32px;
  height: 32px;
}

#custom__background {
  color: #fff;
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
  transform: translate(0px, 20px);
}

#custom__background span {
  display: inline-block;
  width: 190px;
  height: 120px;
  margin-right: 15px;
  background: #e6e5e7 no-repeat 50% 50%;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
  border: 0.6px solid #e7e7e7;
  cursor: pointer;
}

#custom__url {
  /*clear: left;*/
  padding-top: 10px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#custom__input {
  background: #fff;
  border: 0;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 20px;
  font-size: 15px;
  height: 40px;
  width: 780px;
  color: #fff;
}

/********** THUMBNAIL IMAGES ***********/

#bg0 {
  background: none;
}
#bg1 {
  background-image: url(../assets/img/asset-1.png) !important;
  background-repeat: repeat !important;
  background-size: 80% !important;
}
#bg2 {
  background-image: url(../assets/img/asset-2.jpg) !important;
  background-repeat: repeat !important;
  background-size: 80% !important;
}
#bg3 {
  background-image: url(../assets/img/asset-3.jpg) !important;
  background-repeat: repeat !important;
  background-size: 80% !important;
}
#bg4 {
  background-image: url(../assets/img/asset-4.jpg) !important;
  background-repeat: repeat !important;
  background-size: 80% !important;
}
#bg5 {
  background-image: url(../assets/img/asset-5.jpg) !important;
  background-repeat: repeat !important;
  background-size: 80% !important;
}
/***********************/

body .bg0,
.bg0 {
  background: #e6e5e7;
}

body .bg1,
.bg1 {
  background-image: url(../assets/img/asset-1.png);
  /* @keyframes circle-in-hesitate {
  0% {
    clip-path: circle(0%);
  }
  40% {
    clip-path: circle(40%);
  }
  100% {
    clip-path: circle(125%);
  }
}

[transition-style="in:circle:hesitate"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
} **/
}

body .bg2,
.bg2 {
  background-image: url(../assets/img/asset-2.jpg);
}

body .bg3,
.bg3 {
  background-image: url(../assets/img/asset-3.jpg);
}

body .bg4,
.bg4 {
  background-image: url(../assets/img/asset-4.jpg);
}

body .bg5,
.bg5 {
  background-image: url(../assets/img/asset-5.jpg);
}
/********** END THUMBNAIL IMAGES ***********/

.page__width {
  background: rgba(231, 231, 231, 0.70);
  border-bottom: 0.4px solid #8C8C8C;
  backdrop-filter: blur(9px);
  padding: 0;
  overflow: hidden;
  zoom: 1;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.navigation__start {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.nav__icons {
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.nav__icons a {
  padding: 0 10px;
}

.menu__icon {
  font-size: 12px;
  color: rgb(84, 169, 209);
  background-color: transparent;
  display: inline-block;
}

i:hover {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.fa-chevron-down {
  font-size: 30px;
  transform: translateY(-10%);
  animation: float 1.5s infinite;
}

@keyframes float {
  0%{transform: translateY(-10%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text__box {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.text__box p {
  font-size: 3rem;
  font-weight: 600;
  min-height: 120px;
  display: flex;
  align-items: center;
}

@media (max-width: 524px) {
  #custom__submit {
    width: 64px;
    height: 64px;
  }
}